{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">A little bit about me.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <b>Munirih Nganyade</b> is a curious, nature‑loving storyteller with a heart for beauty, connection, and authentic living. Guided by a deep appreciation for the natural world, she finds inspiration in the quiet moments outdoors — where clarity, creativity, and grounding come together.
        </p>
        <p>
          Whether she's exploring new ideas, building meaningful projects, or simply observing the rhythm of life around her, Munirih brings a thoughtful presence to everything she does. Her writing blends reflection, curiosity, and honesty, creating a welcoming space for others to pause, breathe, and reconnect with what matters most.
        </p>
        <p>
          Through her blog, she hopes to share stories, insights, and experiences that encourage others to slow down, appreciate nature, and embrace a more intentional way of living.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
